/*a.	Body background color 72B796
b.	Text color 1215E6
c.	Link color 0476C9
d.	Heading color 1215E6
e.	Site Navigation Background 72B796
f.	Site Navigation Highlight Color C711DC
g.	Site Navigation Link Color 0476C9
*/
body {background-color: #72B796;}
h1, h2 {color: #1215E6;}
a {color: #0476C9;}
a:hover {color:#1215E6 ;}
a:visited {color: #C711DC;}
nav {background-color: #6B9E9D;}
nav a {color: #0476C9;}
nav a:hover {color:#1215E6 ;}
nav a:hover {background-color:#C711DC ;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
